.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.horizontal-container {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 9px;

  width: min(100%, 50rem);
  padding: 30px;
  margin: 0 1rem;
}

.reset-message {
  color: #00529b;
  background-color: #bde5f8;
  width: auto !important;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  justify-content: center;

  width: 12rem;
}

.horizontal-container .horizontal-info-container img {
  margin-bottom: 20px;
}

.horizontal-container .horizontal-heading {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
}
.horizontal-container .horizontal-subtitle {
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
}

.row .o3-form-group {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.row .o3-form-group label {
  margin-bottom: 9px;
}

.row .o3-form-group .custom_pass {
  margin-bottom: 20px;
}

.input {
  border: 1px solid #c8cbd9;
  box-sizing: border-box;
  padding: 7px 12px;
  width: 100%;
  border-radius: 4px;
  outline: none;
  line-height: 38px;
  font: normal 16px "Open Sans", sans-serif;
}

.input:focus {
  border: 2px solid #2684ff;
}

.btn {
  border: none;
  width: fit-content;
  background-color: #2684ff;
  color: white;
  padding: 9px 25px;
  font: normal 16px "Poppins", sans-serif;
  cursor: pointer;
  border-radius: 8px;
}

.btn:hover {
  background-color: #0c66dc;
}
