@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&family=Poppins:wght@400;500;600;700;900&family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Box sizing rules */

*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
html,
body {
  min-height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  /* Initializing color palettes */
  --primary: #222831;
  --secondary: #393e46;
  --tertiary: hsl(183, 100%, 45%);
  --text: #f6f6f6;
  --divider: #eeeeee;
  --menu-head: #cfc5c5;
  --highlight: #f96666;
}

body {
  background-color: var(--secondary);
  font-family: "Poppins", sans-serif;
}

.main-container {
  grid-template-columns: 14.5rem 1fr 18.5rem;
  grid-template-rows: 1fr 3.5rem;
  height: 100vh;
}

/* Sidebar Starts */
.left-sidebar,
.right-sidebar {
  background-color: var(--primary);
  color: var(--text);
}

.player {
  grid-column: -1/1;
  border-top: 1px solid var(--divider);
  background-color: var(--primary);
}

.logo {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 2rem 20px;
}

.logo:hover *,
.logo:hover .logo__primary {
  color: var(--tertiary);
}

a {
  text-decoration: none;
  color: var(--text);
}

#home {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.logo .logo__primary,
.logo__music,
.icons {
  color: var(--highlight);
}

.logo__music {
  font-size: 2.1rem;
}

/**************************/
.menu-list {
  margin: 0 2rem 0 3rem;
}

.menu-data {
  margin-top: 2rem;
}

.menu-list ul {
  list-style-type: none;
}

.menu-head {
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #cfc5c5;
  margin-bottom: 1rem;
}

.icons {
  font-size: 1.3rem;
  vertical-align: middle;
}

.submenus {
  display: flex;
  column-gap: 0.8rem;
  align-items: center;
  margin-bottom: 0.75rem;
  cursor: pointer;
}

.submenus:hover {
  color: var(--tertiary);
}

.submenus:hover .icons {
  color: var(--tertiary);
}

.submenus .menu-text {
  font-size: 0.85rem;
}

.sidebar-title {
  margin: 20px 0;
  font-weight: 500;
  font-size: 1.25rem;
}

.genre {
  cursor: pointer;
}

.genre-image img {
  width: 100%;
  height: 60px;
  border-radius: 10px;
}

.genre .genre-name {
  font-size: 0.7rem;
  text-align: center;
  margin-top: 5px;
}

.content {
  margin: 2rem 2.5rem;
  overflow-y: scroll;
}

.content::-webkit-scrollbar {
  display: none;
}

.featured {
  position: relative;
  font-family: "Inter";
}

.featured .featured-img {
  width: 100%;
  height: 22.5rem;
  object-fit: cover;
  object-position: 0% 92%;
  border-radius: 7.63014px;
}

.featured .details {
  position: absolute;
  min-width: 6.25rem;
  text-align: end;
  bottom: 25px;
  right: 20px;
  color: var(--text);
}

.details .title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13.3527px;
  line-height: 16px;
}

.details .artists {
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.details .song-name {
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
}

.btn {
  padding: 10px;
  border: none;
  min-width: 95px;
  height: 40px;
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: var(--text);
  cursor: pointer;
}

.btn-play {
  background: var(--highlight);
}

.play-featured {
  margin-top: 1.875rem;
}

.search-bar {
  background: white;
  border-radius: 5px;
  display: flex;
  padding: 8px;
  width: 20rem;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%);
  user-select: none;
}

.search-bar .input {
  border: none;
  outline: none;
  margin: 0 10px;
  width: 100%;
}

.main-section {
  margin-top: 20px;
}

.main-section .heading {
  display: flex;
  justify-content: space-between;
}

.main-section .see-more {
  font-weight: 500;
  font-size: 15.2603px;
  color: var(--tertiary);
}

.main-section .subheading {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--text);
  align-items: center;
}

.main-section .heading_icons {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--highlight);
}

.content-section {
  display: flex;
  gap: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.music-container {
  max-width: 180px;
}

.music-container .thumbnail-new {
  width: 10rem;
  height: 10.5rem;
  object-fit: cover;
}

.music-container .song-name {
  font-size: 14px;
  line-height: 18px;
  color: #e4e7e6;
  text-transform: uppercase;
  margin-top: 5px;
}

.music-container .song-artists {
  font-weight: 400;
  margin-top: 2px;
  font-size: 13px;
  line-height: 16px;
  color: #afb6b3;
}

table {
  width: 100%;
  color: #afb6b3;
}

.recent-images {
  width: 100px;
  height: 100px;
}
