@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&family=Poppins:wght@400;500;600;700;900&family=Raleway:wght@400;500;600;700;900&family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Box sizing rules */

*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
html,
body {
  min-height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img:not(.thumbnail-new),
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  /* Initializing color palettes */
  --primary: #0f0f0f;
  /* --secondary: #393e46; */
  --secondary: #181818;
  --tertiary: hsl(183, 100%, 45%);
  --text: #f6f6f6;
  --divider: #eeeeee;
  --menu-head: #cfc5c5;
  --highlight: #f96666;
  --text-base: hsla(0, 0%, 100%, 0.7);
  --playerHeight: 3.6875rem;
}

/* Custom ScrollBar */
::-webkit-scrollbar {
  /* width: 20px; */
  display: none;
}

.child-scroll::-webkit-scrollbar {
  width: 15px;
  display: block;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 0px;
  border: 6px solid transparent;
  background-clip: content-box;
}

/* Custom Scrollbar End*/

body {
  background-color: var(--secondary);
  font-family: "Poppins", sans-serif;
}

.main-container {
  height: 100vh;
}

.content {
  margin: 0 18.5rem 0 14.5rem;
  padding-bottom: 3.5rem;
}

/* Sidebar Starts */
.left-sidebar,
.right-sidebar {
  background-color: var(--primary);
  color: var(--text);
  z-index: 29;
  height: calc(100% - var(--playerHeight));
}

.left-sidebar {
  position: fixed;
  top: 0;
  width: 14.5rem;
  overflow-y: scroll;
}

.left-sidebar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.left-sidebar:hover::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}

.right-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 18.5rem;
}

.player {
  border-top: 1px solid var(--divider);
  background-color: var(--primary);
  z-index: 900;
  position: fixed;
  height: var(--playerHeight);
}

.logo {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 2rem 20px;
}

.logo:hover *,
.logo:hover .logo__primary {
  color: var(--tertiary);
}

.active {
  color: var(--tertiary);
}

.hidden,
.play-featured.hidden {
  display: none;
}

.active .submenus .icons {
  color: var(--tertiary);
}

a {
  text-decoration: none;
  color: var(--text);
}

#home {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.logo .logo__primary,
.logo__music,
.icons {
  color: var(--highlight);
}

.logo__music {
  font-size: 2.1rem;
}

/**************************/
.menu-list {
  margin: 0 2rem 0 3rem;
}

.menu-data {
  margin-top: 2rem;
}

.menu-list ul {
  list-style-type: none;
}

.menu-head {
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #cfc5c5;
  margin-bottom: 1rem;
}

.icons {
  font-size: 1.3rem;
  vertical-align: middle;
}

.submenus {
  display: flex;
  column-gap: 0.8rem;
  align-items: center;
  margin-bottom: 0.75rem;
  cursor: pointer;
  width: fit-content;
}

.submenus:hover {
  color: var(--tertiary);
}

.submenus:hover .icons {
  color: var(--tertiary);
}

.submenus .menu-text {
  font-size: 0.85rem;
}

.sidebar-right {
  padding: 0 30px 20px;
  position: relative;
}

.sidebar-title {
  margin: 20px 0;
  font-weight: 500;
  font-size: 1.25rem;
}

.genre {
  cursor: pointer;
  transition: transform 0.25s ease-in-out;
}

.genre:hover {
  transform: scale(1.05);
}

.genre-image img {
  width: 100%;
  height: 60px;
  border-radius: 10px;
}

.genre .genre-name {
  font-size: 0.7rem;
  text-align: center;
  margin-top: 5px;
}

.featured {
  position: relative;
  font-family: "Inter";
}

.featured .img {
  width: 100%;
  height: 50vh;
}

.featured .featured-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7.63014px;
  user-select: none;
}

.image-section::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 7.63014px;
}

.featured .img::after {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.15)
  );
}

.custom-img::after {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.15));
}

.featured .details {
  position: absolute;
  min-width: 6.25rem;
  text-align: end;
  bottom: 25px;
  right: 20px;
  color: var(--text);
}

.featured .custom-details {
  position: absolute;
  min-width: 6.25rem;
  text-align: start;
  bottom: 25px;
  left: 20px;
  color: var(--text);
}

.details .title,
.custom-details .title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13.3527px;
  line-height: 16px;
}

.details .artists,
.custom-details .artists {
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.details .song-name,
.custom-details .song-name {
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
}

.btn {
  padding: 10px;
  border: none;
  min-width: 95px;
  height: 40px;
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: var(--text);
  cursor: pointer;
}

.btn-play {
  background: var(--highlight);
}

.btn-pause {
  background: var(--tertiary);
  color: #000 !important;
}

.btn-play:hover {
  color: white;
  background-color: #e64a4a;
}

.custom-btn {
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-btn * {
  width: 24px;
  height: 24px;
}

.play-featured {
  margin-top: 1.875rem;
  display: flex;
  justify-content: flex-end;
}

.featured-searchbar {
  width: 20rem;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%);
  z-index: 3;
}

.custom-searchbar {
  margin-top: 2rem;
}

.search-bar {
  background: white;
  border-radius: 5px;
  display: flex;
  padding: 8px;
  width: 100%;

  user-select: none;
  z-index: 150;
}

.search-bar .text-input {
  border: none;
  outline: none;
  margin: 0 10px;
  width: 100%;
  font-size: 12px;
}

.main-section {
  margin-top: 20px;
}

.main-section .heading {
  display: flex;
  justify-content: space-between;
}

.main-section .see-more {
  font-weight: 500;
  font-size: 15.2603px;
  color: var(--tertiary);
}

.main-section .subheading {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--text);
  align-items: center;
}

.main-section .heading_icons {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--highlight);
  padding: 3px;
}

.icon-search,
.icon-mic {
  stroke: black;
}

.content-container {
  padding: 2rem 2.5rem;
}

.music-section {
  display: flex;
  gap: 1.35rem;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.music-container {
  max-width: 10.5rem;
  position: relative;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 20px 12px;
  border-radius: 10px;
}

.music-section .music-container {
  align-self: stretch;
}

.music-container:not(.dynamic) {
  height: 100%;
}

.swiper-slide {
  width: auto;
  height: auto;
}

.swiper-content {
  height: 100% !important;
}

.artists-container {
  max-width: 128px;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.music-container .thumbnail-new {
  width: 9rem;
  height: 6.5rem;
  object-fit: cover;
  border-radius: 5px;
}

.play-icon-container {
  position: relative;
  width: 9rem;
  height: 7rem;
}

.play-icon {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  display: none;
}

.play-icon * {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  stroke: white;
  fill: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
}

.music-container:hover .play-icon {
  display: flex;
}

.music-container .song-name {
  font-size: 14px;
  line-height: 24px;
  color: #e4e7e6;
  text-transform: uppercase;
  margin-top: 5px;
}

.music-container .song-artists {
  font-weight: 400;
  margin-top: 5px;
  font-size: 13px;
  line-height: 16px;
  color: #afb6b3;
}

.recent-images {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.recent-container {
  display: grid;
  grid-template-columns: 20px 2.5rem 1fr 0.5fr 100px 100px 40px 50px 50px;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  padding: 5px 20px;
  user-select: none;
}

.artists-details {
  grid-template-columns: 20px 2.5rem 1.5fr 0.5fr 50px 40px 50px;
}

.recent-container.hover-effect:hover {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}

.recent-container.hover-effect:focus {
  background-color: rgba(0, 0, 0, 0.5);
  outline: none;
}

.recent-container.hover-effect:focus * {
  color: white;
}

.recent-container.hover-effect:hover .more {
  visibility: visible;
}

.thumbnail-recent {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}

.recent-container .song-name {
  color: #afb6b3;
  font-size: 0.875rem;
}

.recent-container *:not(.song-name, .add-more) {
  color: #7a8580;
  font-size: 0.875rem;
}

.recent-container .recent-play {
  font-size: 1.4rem;
  cursor: pointer;
}

.recent-container.playing *,
.recent-container.playing:focus * {
  color: var(--tertiary);
}

.recent-container.playing .recent-play {
  border-color: var(--tertiary);
}

.recent-container .heart {
  cursor: pointer;
  font-size: 1.1rem;
  transition: transform 0.35s ease-in-out;
}

.recent-container .heart:hover {
  transform: scale(1.2);
  stroke: white;
}

.recent-container .heart.favourite {
  fill: var(--highlight);
  stroke: var(--highlight);
}

/* Trending Sections */
.trends {
  color: rgb(216, 213, 213);
}

.breadcrumbs {
  font-size: 0.85rem;
  margin-bottom: 20px;
}

.breadcrumbs .root-link:hover {
  text-decoration: underline;
}

.trends .top-trends {
  display: flex;
  gap: 40px;
  align-items: flex-end;
}

.trends .trend-image {
  width: 360px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

h2:not(.h2) {
  color: var(--text);
  margin-bottom: 24px;
}

.top-trends h2 {
  font-size: 2rem;
}

.trend-section .details * {
  font-size: 14px;
  margin-bottom: 12px;
}

.song-list {
  margin-top: 20px;
}

.song-list .list_heading {
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  text-transform: capitalize;
  padding-bottom: 10px;
}

.artists-container .artists {
  cursor: pointer;
}

.fav-artists-container {
  display: flex;
  gap: 1.3rem;
  flex-wrap: wrap;
}

.fav-artists-container .artists {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  max-height: 13rem;
  max-width: 175px;
  width: 168px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}

.fav-artists-container .artists:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.playlist-container .playlist::after {
  content: "";
  background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.35) 100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.artists-container .artists .song-artists,
.fav-artists-container .artists .song-artists {
  font-size: 14px;
  line-height: 18px;
  color: #e4e7e6;
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;

  white-space: nowrap;
}

.artists-container .artists .thumbnail-new,
.fav-artists-container .artists .thumbnail-new {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
}

/* Playlists */
.playlist-container .playlist {
  min-height: 20rem;
  padding: 2rem 2.5rem;
  position: relative;
  display: flex;
  gap: 32px;
  background-color: #222831;
}

.playlist .playlist-images {
  display: flex;
  align-items: flex-end;
}

.playlist .playlist-images.custom {
  width: 15rem;
  height: 15rem;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
  background-color: var(--highlight);
}

.playlist-container .artists-images {
  width: 15rem;
  height: 15rem;
  align-self: flex-end;
  box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
}

.playlist-container .artists-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.playlist .playlist-images * {
  width: 5rem;
  height: 5rem;
}

.playlist .playlist-images.custom *:not(img) {
  fill: #f6f6f6;
  stroke: #f6f6f6;
}

.playlist .playlist-images:not(.custom) img {
  width: 16rem;
  height: 16rem;
}

.playlist .playlist-images.custom img {
  filter: brightness(0) invert(1);
}

.playlist-container .padding {
  margin: 1rem 2.5rem;
  padding-bottom: 1rem;
}

.playlist-container .playlist-details {
  align-self: flex-end;
  color: #f6f6f6;
  z-index: 3;
}

.playlist-details div:first-child {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.playlist-details div:nth-child(2) {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 10px;
}

.playlist-details .description {
  font-size: 0.875rem;
  color: var(--text-base);
  margin-bottom: 20px;
}

.playlist-details div:last-child {
  font-size: 14px;
  display: flex;
  gap: 10px;
  font-weight: 400;
}

.settings-section {
  display: grid;
  gap: 8px;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
  color: #fff;
}

h3:not(.h3) {
  margin-bottom: 10px;
}

.languages {
  color: #a7a7a7;
  font-size: 0.875rem;
  font-weight: 400;
}

.languages-grid {
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.languages select {
  cursor: pointer;
  background-color: #333;
  border: 0;
  outline: none;
  border-radius: 5px;
  color: var(--text-base);
  height: 32px;
  padding-left: 12px;
  width: 100%;
}

.table {
  overflow-wrap: break-word;
  border-collapse: collapse;

  font-size: 0.875rem;
  width: 40rem;
}

.table .table-row td {
  padding: 10px 0;
  color: var(--text-base);
}

.settings-section .form {
  max-width: 30rem;
}

.settings-section .form div {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 20px;
}

.form label {
  color: var(--text-base);
  font-size: 0.875rem;
}

.form input {
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 5px;
  padding: 5px;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color, transform 0.2s ease-in-out;
  transform: scale(1.15);
}

.add-more {
  font-size: 0.6875rem;
  font-weight: 600;
  border-radius: 25px;
  user-select: none;
  padding: 3px 6px;
  border: 1px solid var(--text-base);
  min-block-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color, transform, border-color 0.2s ease-in-out;
  color: #7a8580;
}

.add-more:hover {
  cursor: pointer;
  border-color: white;
  color: white;
  transform: scale(1.05);
}

.more:hover {
  color: white;
  transform: scale(1.5);
}

.model {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.model-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}

.container {
  width: 32.75rem;
  color: white;
  position: absolute;
  left: 50%;
  top: 52%;
  transform: translate(-50%, -50%);
  background-color: #282828;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 30%);
  padding: 20px;

  animation: fadeDown 0.5s ease-in-out forwards;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: 50%;
  }
}

.container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.edit-section .playlists-image {
  position: relative;
  width: 180px;
}

.edit-section .playlists-image img {
  width: 100%;
  height: 180px;
  border-radius: 5px;
  object-fit: cover;
}

.edit-section .playlists-image input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 0;
  height: 100%;
  cursor: pointer;
}

.edit-section {
  height: 100%;
}

.edit-section .input-field {
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 20px;
}

.custom-input label {
  display: block;
  margin-bottom: 10px;
}

.custom-input input {
  margin-bottom: 22px;
}

.edit-section .form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.edit-section input,
.edit-section textarea {
  background: hsla(0, 0%, 100%, 0.1);
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  width: 100%;
  outline: none;
  padding: 10px;
  font-size: 0.75rem;
}

.edit-section input:focus,
.edit-section textarea:focus {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.edit-section input {
  height: 40px;
}

.edit-section textarea {
  resize: none;
  width: 100%;
  height: 100%;
}

.model-container .guildlines,
.guildlines {
  font-size: 0.8rem;
  margin-top: 20px;
}

.save-playlist {
  margin-top: 24px;
}

.userprofile {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.userprofile img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.index-button {
  color: white;
  width: 32px;
  height: 32px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.index-button:hover {
  background-color: rgba(0, 0, 0, 1);
}

.carosel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  gap: 10px;

  position: absolute;
  bottom: 15px;
  left: 20px;
}

.carosel div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.carosel div.active {
  background-color: var(--highlight);
}

.carosel div:hover {
  background-color: white;
}

/* Fading animation */

.swiper-class {
  position: relative;
  user-select: none;
}

.swiper-btn {
  width: 32px;
  height: 32px;

  position: absolute;
  z-index: 999;
  top: 40%;
  transform: translateY(-50%);
  border-radius: 50%;
  padding: 5px;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;

  transition: opacity 0.5s ease-in-out;
  visibility: hidden;
}

.swiper-btn.deactivate {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: default;
}

.swiper-class:hover .swiper-btn {
  opacity: 1;
  visibility: visible;
}

.swipe-artists-btn {
  border-radius: 5px;
}

.swiper-btn * {
  width: 100%;
  height: 100%;
}

.swipe-prev,
.swipe-prev-artists {
  left: -15px;
}

.swipe-next,
.swipe-next-artists {
  right: 10px;
}

/* test */

.music-bars {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  height: 100%;
  transform: scale(0.5);
}

.bar-container {
  position: relative;
  width: 0.5rem;
}

.bar {
  width: 0.5rem;
  background: var(--tertiary);
  position: absolute;
  bottom: 0;
}

#bar-1 {
  animation: 1s ease-out infinite both play;
}

#bar-2 {
  animation: 1s ease-out 0.5s infinite both play;
}

#bar-3 {
  animation: 1s ease-out 0.2s infinite both play;
}

#bar-4 {
  animation: 1s ease-out 0.75s infinite both play;
}

.volume-popover {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 40px;
}

.visible-demo .MuiPopover-paper {
  overflow: visible;
}

/* Login Page */
.log-container {
  background-color: #222;
  min-height: 100vh;
  height: 100%;
}

.land-log {
  width: 90vw;
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fefefe;
  margin: 0 auto;
  position: relative;
}

.land-log .art-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.land-log .form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.land-log .form {
  min-width: 22rem;
}

.log-container .nav-section {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 2.5rem;
  z-index: 1000;
}

.log-container .nav-section .logo {
  margin: 0;
}

/* Login Form Start */
.land-log .form .title {
  font: normal 500 48px "Roboto";
  letter-spacing: 0.02em;
  color: #fefefe;
}

.land-log .form .title.custom-title {
  font: normal 500 32px "Roboto";
  color: #fefefe;
}

.land-log .form .subtitle {
  font-weight: 400;
  font-size: 14px;
  color: rgba(254, 254, 254, 0.5);
}

.land-log .form .input-field {
  margin: 1.2rem auto;
}

.land-log .form .input-field label {
  display: block;
  margin-bottom: 0.75rem;
  color: #fefefe;
}

.land-log .form .input-field input {
  height: 2.5rem;
  width: 100%;
  padding-left: 12px;
  font-size: 13px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(215, 215, 215, 0.1);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.06);
  border-radius: 8px;
  color: #fefefe;
}

.land-log .form .input-field input::placeholder {
  color: #989292;
}

.input-icon-container {
  position: relative;
}

.land-log .input-icon-container .eye-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}

.land-log .form .section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
}

.land-log .form .custom-section {
  justify-content: space-between;
  padding-left: 10px;
}

.land-log .form .custom-section .checkbox {
  user-select: none;
}

.land-log .login-btn {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.land-log .login-btn button {
  padding: 12px 24px;
  width: 100%;
  height: 48px;
  color: #fefefe;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.06);
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  border: none;
}

.land-log .form .login__btn {
  background: var(--highlight);
}

.land-log .form .login__google {
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.login__google .icon {
  font-size: 1.2rem;
}

.land-log .form .account {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.featured-heart {
  width: 40px;
  height: 40px;
  padding: 10px;
  color: var(--highlight);
  stroke: var(--highlight);
  background-color: rgba(0, 0, 0, 0.6);
  margin-left: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.filter-section {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}

.filter-section > div {
  background-color: #000;
  color: white;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 0.85rem;
  cursor: pointer;
}

.filter-section > div.active {
  background-color: var(--highlight);
  color: white;
}

.spinner-parent {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
