@media screen and (max-width: 1400px) {
  .content {
    margin: 0 0 0 14.5rem;
  }

  .right-sidebar {
    display: none;
  }

  .genre-sidebar {
    display: block;
  }

  .navmenu {
    height: 5rem;
  }

  .user-detail .userprofile {
    display: block;
    border: none;
  }

  .user-detail .userprofile .user-name {
    display: none;
  }

  .genre-sidebar {
    grid-template-columns: repeat(2, 1fr);
  }

  .navmenu-hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navmenu-hamburger svg {
    font-size: 2rem;
  }
}

/* Songs table responsive */
@media screen and (max-width: 1170px) {
  .recent-container:not(.artists) {
    grid-template-columns:
      1.25rem minmax(2rem, 2.5rem) minmax(8.5rem, 1fr) minmax(7rem, 0.5fr)
      2.5rem 3.125rem 3.125rem;
  }

  .recent-container:is(.artists) {
    grid-template-columns:
      1.25rem minmax(2rem, 2.5rem) minmax(8.5rem, 1fr)
      2.5rem 1rem 3.125rem 3.125rem;
  }

  .recent-container .released-date,
  .recent-container:not(.artists) .recent-genre,
  .recent-container:is(.artists) .skip {
    display: none;
  }

  .top-trends h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1000px) {
  .content-container.edit-song form {
    display: block;
  }

  .content .song-preview {
    max-width: 20rem;
  }

  .content-container.edit-song .song-details {
    max-height: unset;
  }
}

@media screen and (max-width: 900px) {
  .left-sidebar {
    height: 100vh;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: 0.25s ease-in;
  }

  .featured .img {
    height: 25rem;
  }

  .main-container.toggle .featured .img {
    height: 25rem;
  }

  .left-sidebar {
    left: -15rem;
  }

  .main-container.toggle .left-sidebar {
    left: 0;
  }

  .navmenu {
    flex-direction: row-reverse;
  }

  .content {
    margin: 0;
  }

  .recent-container .heart {
    visibility: visible;
  }

  .content-container {
    padding: 1rem 1.5rem;
  }

  .content-container.edit-song form {
    display: grid;
  }
}

@media screen and (max-width: 800px) {
  .log-container {
    background-color: transparent;
  }

  .log-container .nav-section {
    padding: 2rem 1.5rem;
    position: relative;
  }

  .land-log .art-section {
    display: none;
  }

  .land-log {
    min-height: unset;
  }

  .land-log {
    display: flex;
    justify-content: center;
    margin: 2rem 3rem 0;
  }

  .land-log .form .title {
    font: normal 500 32px "Roboto";
  }

  .land-log .form {
    width: 25rem;
  }

  .content-container.edit-song form {
    display: block;
  }
}

/* Songs Responsive */
@media screen and (max-width: 700px) {
  .recent-container *:not(.song-name, .add-more, .playlist-icons, .heart) {
    font-size: 0.8rem !important;
  }

  .recent-container:is(.artists) {
    grid-template-columns:
      1.25rem minmax(2rem, 2.5rem) minmax(8.5rem, 1fr)
      2.5rem 1rem 3.125rem;
  }

  .recent-container .recent-play {
    font-size: 1rem !important;
  }

  .recent-container:not(.artists),
  .recent-container:not(.current-song) {
    grid-template-columns:
      1.25rem minmax(2rem, 2.5rem) minmax(8.5rem, 1fr) minmax(7rem, 0.5fr)
      2.5rem 3.125rem;
  }

  .current-song {
    grid-template-columns: 20px 2.5rem 1fr 50px 60px 50px !important;
  }

  .length {
    display: none;
  }

  .upload-container {
    width: 90vw;
  }

  .playlist-details div:nth-child(2) {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 600px) {
  .recent-container .playlist-icons {
    display: block;
    font-size: 1.1rem;
  }

  .recent-container:not(.current-song) .add-more {
    display: none;
  }

  .recent-container:not(.artists),
  .recent-container:not(.current-song) {
    grid-template-columns:
      1.25rem minmax(2rem, 2.5rem) minmax(8.5rem, 1fr) minmax(7rem, 0.5fr)
      1rem 1rem;
  }

  .current-song {
    grid-template-columns: 20px 2.5rem 1fr 50px 60px 50px !important;
  }

  .trends .top-trends {
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }

  .top-trends h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .trend-section .details * {
    font-size: 0.75rem;
  }

  .trend-section button {
    padding: 9px;
    height: fit-content;
    font-size: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .logo img {
    width: 9rem;
  }

  .land-log .form {
    width: 100%;
  }

  .land-log {
    display: flex;
    justify-content: center;
    margin: 0 2rem 0;
  }

  .land-log.login {
    align-items: center;
    height: calc(100vh - 6rem);
  }

  .land-log .form .subtitle {
    font-size: 0.75rem;
    margin-top: 5px;
  }

  .recent-container:not(.current-song, .artists) {
    grid-template-columns:
      minmax(2rem, 2.5rem) minmax(8.5rem, 1fr) minmax(7rem, 0.5fr)
      1rem 1rem;
  }

  .recent-container:is(.artists) {
    grid-template-columns:
      1.25rem minmax(8.5rem, 1fr)
      2.5rem 1rem 1rem;
  }

  .recent-container:not(.current-song) .recent-play,
  .recent-container:not(.current-song) .index {
    display: none;
  }

  .left-sidebar {
    transition: 0.25s ease-in-out;
  }

  .left-sidebar:hover::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .playlist-images {
    display: none !important;
  }

  .current-song .status {
    display: none;
  }

  .current-song {
    grid-template-columns: 20px 2.5rem 1fr 60px 50px !important;
  }

  .content .song-preview {
    max-width: unset;
  }
}

@media screen and (max-width: 500px) {
  .recent-container:not(.current-song, .artists) {
    grid-template-columns:
      minmax(2rem, 2.5rem) 1fr
      1rem 1rem;
  }

  .recent-container.artists .song-name,
  .recent-container.artists .song-name span {
    font-size: 1rem !important;
  }

  .recent-container:is(.artists) {
    grid-template-columns:
      1.25rem minmax(8.5rem, 1fr)
      1rem 1rem;
  }

  .recent-container .artists,
  .current-song .add-more,
  .current-song .recent-play,
  .current-song .index,
  .recent-container.artists .recent-genre,
  .trends .details div:last-child {
    display: none;
  }

  .top-trends h2 {
    font-size: 1rem;
  }

  .current-song {
    grid-template-columns: 2.5rem 1fr 1.5rem 1.5rem !important;
  }

  .edit-more {
    display: block;
  }

  .upload-container .guildlines {
    display: none;
  }

  .playlist-container .artists-images {
    height: 12rem;
  }

  .playlist-details div:nth-child(2) {
    font-size: 2.5rem;
  }

  .playlist-details div:last-child {
    flex-direction: column;
  }

  .playlist-details div:last-child > span:nth-child(2) {
    display: none;
  }

  .edit-section .input-field {
    grid-template-columns: 120px 1fr;
  }

  .edit-section .playlists-image {
    width: 120px;
  }

  .edit-section .playlists-image img {
    height: 120px;
  }

  .settings .edit-section .playlists-image img {
    height: 180px;
  }
  .playlists .edit-section label {
    font-size: 0.875rem;
  }

  .languages-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .languages-grid select {
    max-height: 32px;
  }

  .genre-section {
    grid-template-columns: repeat(3, 1fr);
  }
}
